{% extends "base.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="BPI8oHQsUYTXWtWsPgfCGH1I0BdJ13D2M-eJfBxQs8o"/>
<meta name="apple-mobile-web-app-title" content="Honda Stepwgn"/>
<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg"/>
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png"/>
<link rel="manifest" href="/site.webmanifest"/>
{% endblock %}
